<form [formGroup]="formulaire">
    <div class="form-group">
        <label for="date">Date:</label>
        <input
            type="date"
            id="date"
            name="date"
            class="form-control"
            ngModel
            required />
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            ngModel
            required />
    </div>

    <div class="form-group">
        <label for="duree">Durée:</label>
        <input
            type="number"
            id="duree"
            name="duree"
            class="form-control"
            ngModel
            required />
    </div>

    <div class="form-group">
        <label for="idChaudiere">ID Chaudière:</label>
        <input
            type="number"
            id="idChaudiere"
            name="idChaudiere"
            class="form-control"
            ngModel
            required />
    </div>

    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>
