<p-card
    class="card"
    header="Chaudière n°{{ laChaudiere.id }}"
    subheader="{{ laChaudiere.numDeSerie }}"
    [style]="{ width: '360px' }">
    <ng-template pTemplate="body" class="card-body">
        <div class="card-info">
            <b>Nom du client</b>
            <p>{{ laChaudiere.nomClient }}</p>
        </div>
        <div class="card-info">
            <b>Adresse du client</b>
            <p>{{ laChaudiere.adresseClient }}</p>
        </div>
        <div class="card-info">
            <b>Modele</b>
            <p>{{ laChaudiere.modele }}</p>
        </div>
        <div class="card-info">
            <b>Date de mise en service</b>
            <p>{{ laChaudiere.dateMiseEnService | date: 'dd/MM/yyyy' }}</p>
        </div>
    </ng-template>
</p-card>
