<p-card
    header="Intervention n°{{ lIntervention.id }}"
    subheader="{{ lIntervention.date | date: 'dd/MM/yyyy' }} | {{
        lIntervention.duree
    }} min"
    [style]="{ width: '360px' }"
    class="card">
    <ng-template pTemplate="header"> </ng-template>
    <ng-template pTemplate="body">
        <p>
            {{ lIntervention.description }}
        </p>
    </ng-template>
    <ng-template pTemplate="footer">
        Sur la Chaudière n°{{ lIntervention.idChaudiere }}
    </ng-template>
</p-card>
