.footer {
    background-color: rgb(245, 245, 245);
    color: #282828;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
